<nav class="p-4 bg-blue-500">
      <div class="container mx-auto">
        <div class="flex justify-between">
          <div class="text-lg font-bold text-white">Mi Aplicación</div>
          <div>
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="px-4 py-2 text-white rounded hover:bg-blue-700">Iniciar Sesión</a>
            <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="px-4 py-2 text-white rounded hover:bg-blue-700">Registrarse</a>
          </div>
        </div>
      </div>
    </nav>
