<div class="w-full min-h-screen">
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="relative w-1/2 h-screen">
      <img src="assets/images/bannerlogin.png" alt="A random image" class="object-cover w-full h-full">

      <div
        class="absolute inset-0 flex flex-col items-center justify-center w-3/5 gap-4 p-4 mx-auto text-center text-white">
        <h2 class="text-4xl font-bold font-poppins">Yachayhuasi Gestión De Libros!</h2>
        <p class="text-xl font-normal font-poppins">Descubre la plataforma de préstamo de libros más popular con
          Yachayhuasi. Comience a compartir y pedir prestado hoy.</p>
        <button
          class="middle font-poppins  center rounded-2xl bg-[#0575E6] py-3 px-6  font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Leer más
        </button>
      </div>

    </div>

    <div class="flex justify-center w-1/2 px-4">
      <div class="flex flex-col items-center max-w-2xl gap-4">
        <img src="assets/images/logo_login.png" class="w-64 h-64">
        <h1 class="text-4xl font-bold font-poppins">¡Hola de nuevo!</h1>
        <p class="text-2xl font-poppins">Nos alegra tenerte de vuelta.</p>
        <div class="flex flex-col w-full gap-8 mt-5">
          <div class="flex items-center px-6 py-6 border-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <input id="email" class="w-full pl-2 text-xl border-none outline-none bg-inherit " type="email" name="email"
              placeholder="Email Address" />
          </div>
          <div class="flex items-center px-6 py-6 border-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" viewBox="0 0 20 20"
              fill="currentColor">
              <path fillRule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clipRule="evenodd" />
            </svg>
            <input class="w-full pl-2 text-xl border-none outline-none bg-inherit" type="password" name="password" id="password"
              placeholder="Password" />
          </div>
          <button type="submit" class="block w-full  text-xl  px-6 py-5  font-normal text-white transition-all duration-500 bg-[#0575E6] rounded-full hover:bg-[#0575E6] hover:-translate-y-1">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
